@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,700;0,6..12,800;1,6..12,600&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--dark-color);
	font-family: var(--font-main);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
}

a {
	color: #ffff;
}

.title {
	color: var(--dark-text);
	font-size: 32px;
	font-weight: 800;
	line-height: 120%;
}

.subtitle {
	color: var(--accent-text);
	font-size: 24px;
	font-weight: 400;
	line-height: 83%;
}

.room-tibet__btn {
	display: inline-block;
	position: relative;
	max-height: 52px;
	color: var(--white-text);
	background-color: var(--btn-bg);
	font-size: 16px;
	font-weight: 600;
	line-height: 125%;
	letter-spacing: 0.192px;
	padding: 12px 36px;
	transition: all 0.3s ease-in;
	border-radius: 4px;
	border: 1px solid var(--btn-bg);

	&:hover,
	:focus {
		background-color: var(--page-bg);
		color: var(--btn-bg);
		border: 1px solid var(--btn-bg);
	}

	&:active {
		top: 1px;
	}

	&--small {
		padding: 12px 24px;
	}

	&--accent {
		padding: 12px 36px;
		background-color: var(--page-bg);
		color: var(--btn-bg);
		border: 1px solid var(--btn-bg);

		&:hover,
		:focus {
			background-color: var(--btn-bg);
			color: var(--page-bg);
			border: 1px solid var(--btn-bg);
		}

		&:active {
			top: 1px;
		}
	}
}
