@mixin linkDecoration {
	transition: color 0.2s ease-in;

	&:hover {
		color: var(--btn-bg);
	}

	// &:active {
	// }
}

@mixin sectionTitle {
	margin-bottom: 40px;

	@include mediaTabletMD {
		font-size: 24px;
	}

	@include mediaMobileMD {
		margin-bottom: 32px;
	}
}

@mixin sectionSubtitle {
	margin-bottom: 8px;

	@include mediaTabletMD {
		font-size: 16px;
	}
}

@mixin sectionButton {
	@include mediaTabletLG {
		text-align: center;
	}
}

@mixin mediaTabletLG {
	@media screen and (max-width: $tabletLG-size) {
		@content;
	}
}

@mixin mediaTabletMD {
	@media screen and (max-width: $tabletMD-size) {
		@content;
	}
}

@mixin mediaMobileLG {
	@media screen and (max-width: $mobileLG-size) {
		@content;
	}
}

@mixin mediaMobileMD {
	@media screen and (max-width: $mobileMD-size) {
		@content;
	}
}

@mixin mediaMobileSM {
	@media screen and (max-width: $mobileSM-size) {
		@content;
	}
}

@mixin mediaMobileXS {
	@media screen and (max-width: $mobileXS-size) {
		@content;
	}
}
