:root {
	// Container
	--container-width: 1210px;
	--container-padding: 15px;

	// Base
	--font-main: "Nunito Sans", sans-serif;
	--font-size: 18px;
	--font-weight: 400;

	--page-bg: #f3f5f4;
	--text-color: #18121e;
	--accent: #f2be22;
	--btn-bg: #1a3e3e;

	// Media
	--tablet-size: 959px;
	--mobileLG-size: 425px;
	--mobileMD-size: 375px;
	--mobileSM-size: 320px;
	--mobileXS-size: 300px;
}
