.header {
	min-height: 985px;
	background-image: url("../../img/header/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.header__row {
	padding-top: 16px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 463px;
}

.header__logo {
	transition: all 0.2s ease-in;
	&:hover {
		transform: scale(1.02);
	}
}

.header__content {
	margin-bottom: 42px;
}

.header__title {
	max-width: 1080px;
	color: var(--page-bg);
	font-size: 50px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	margin-bottom: 41px;
}

.header__form {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	padding: 40px 43px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(1px);
}

.header__form-label {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
	color: var(--page-bg);

	p {
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
	}

	img {
		width: 18px;
		height: 18px;
		position: absolute;
		right: 10px;
		top: 20%;
		transition: rotate 0.2s linear;

		&.active {
			transform: rotate(180deg);
		}
	}
}

.header__form-input {
	display: block;
	padding: 14px 42px 14px 16px;
	border-radius: 8px;
	border: 1px solid var(--page-bg);
	margin-bottom: 8px;

	&::placeholder {
		color: var(--white-text);
		font-size: 16px;
		font-weight: 700;
		line-height: 150%;
	}
}

.header__form-btn {
	max-height: 52px;
}
