.nav {
	display: flex;
	align-items: center;
	gap: 49px;
}

.nav__list {
	display: flex;
	align-items: center;
	gap: 24px;
	font-weight: 600;

	@include mediaTabletLG {
		display: none;
	}
}

.nav__list-link {
	@include linkDecoration;
}

.nav__btn {
	@media screen and (max-width: 1035px) {
		display: none;
	}
}
