.nav {
	display: flex;
	align-items: center;
	gap: 49px;
}

.nav__list {
	display: flex;
	align-items: center;
	gap: 24px;
	font-weight: 600;
}

.nav__list-item {
}

.nav__list-link {
	@include linkDecoration;
}

.nav__btn {
}
