.photos {
	padding: 100px 0px;
	text-align: center;

	@include mediaTabletLG {
		padding: 50px 0px;
	}
}

.photos__subtitle {
	@include sectionSubtitle;
	@media screen and (max-width: 590px) {
		text-align: left;
	}
}

.photos__title {
	@include sectionTitle;
	margin-bottom: 50px;

	@media screen and (max-width: 590px) {
		text-align: left;
	}
}

.photos__img {
	overflow: hidden;

	@media screen and (max-width: 1210px) {
		width: 280px;
	}

	img {
		height: 250px;
		border-radius: 6px;

		@media screen and (max-width: 1210px) {
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

.container-photos {
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
	margin: 0 auto;

	@media screen and (max-width: 1210px) {
		padding-right: calc(
			(100% - var(--container-width)) / 2 + var(--container-padding)
		);

		@media (max-width: var(--laptop-size)) {
			padding-right: var(--container-padding);
		}
	}
}
