.popular-tours {
	text-align: center;
	padding: 100px 0px;
}

.popular-tours__subtitle {
	margin-bottom: 8px;
}

.popular-tours__title {
	margin-bottom: 50px;
}

.popular__tours-swiper {
	margin-bottom: 50px;
}
