.programs {
	padding: 80px 0px 100px 0px;
	background-color: #f3f5f4;
}

.programs__content {
	display: flex;
	justify-content: space-between;
	gap: 90px;
}

.programs__info {
	max-width: 580px;
}

.programs__info-subtitle {
	margin-bottom: 8px;
}

.programs__info-title {
	margin-bottom: 40px;
}

.programs__info-column {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-bottom: 40px;
}

.programs__pictures {
	padding-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	max-height: 510px;
}

.programs__pictures-item {
	max-width: 250px;
	border-radius: 0px 50px 0px 50px;

	&:nth-child(2) {
		border-radius: 50px 0px 50px 0px;
	}

	&:nth-child(3) {
		border-radius: 50px 0px 50px 0px;
	}
}
